html,
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.col-lg-1 { grid-column: span 1;}
.col-lg-2 { grid-column: span 2;}
.col-lg-3 { grid-column: span 3;}
.col-lg-4 { grid-column: span 4;}
.col-lg-5 { grid-column: span 5;}
.col-lg-6 { grid-column: span 6;}
.col-lg-7 { grid-column: span 7;}
.col-lg-8 { grid-column: span 8;}
.col-lg-9 { grid-column: span 9;}
.col-lg-10 { grid-column: span 10;}
.col-lg-11 { grid-column: span 11;}
.col-lg-12 { grid-column: span 12;}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 1fr;
}

.brand {
    display: flex;
    align-items: center;
    grid-row: 1 / span 2;
    background-color: #6D58BF;





}
.brand a{
    color: #fff;
    text-decoration:none;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 15px;
    font-family: 'Pacifico', cursive;
}

.searchbox{
    grid-row: 1 / span2;
    background-color: #6D58BF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search_element{
    background-color: #fff;
    width: 80%;
    height:5vw;
    max-height: 45px;
    display: flex;
    border-radius: 8px;
}
.search_element input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 8px;
    display: block; 
}
.search_btn{
    background: #FF5733;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.page-links {
    grid-row: 1/ span 2;
    text-align: right;
    background-color: #6D58BF;

    padding: 10px;
    padding-right: 6vw;
        display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;

}


.translateSelectLanguage {

    top: 100px;
    right: 100px;
    background-color: #FF5733;
    color:white;
    width: 70px;
    height:5vw;
    max-height: 45px;
    border-radius: 4px;
}

/*-----------------------------------------------*/

.poster-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));;
    margin-top: 20px;
}
#movie-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 450px;
}
#movie-description{
    margin-right: 120px;
    text-align: justify;
}
#release-date{
    color: #2C10A0; 
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 24px;
}
#movie-title{
    margin-top:0px;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
}
#category{
    font-size: 28px;
    font-weight: 600;
}
#ticket-price{
    line-height: 30px;
    font-size: 20px;
}
/* set buy ticket element */
.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to right,
        #F2F4EF,
        #fff,
    );
    margin-top: 100px;
}

.tickets{
    width: 850px;
    height: fit-content;
    border: 0.4mm solid rgba(0,0,0,0.08);
    border-radius: 3mm;
    box-sizing: border-box;
    padding: 10px;
    max-height: 96vh;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25);

}
.ticket-selector{
    background-color: rgb(243,243,243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 12px;
}


.seats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}

.status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seats::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 220px;
    height: 7px;
    background: rgb(141, 198, 255);
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}

.item{
    font-size: 12px;
    position: relative;
}
.item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 0.2mm solid rgb( 120, 120, 120);
    border-radius: 0.3mm;
}

.item:nth-child(2)::before{
    background: rgb(180,180,180);
    outline: none;

}
.item:nth-child(3)::before{
    background: #6D58BF;
    outline: none;

}
.all-seats{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap:15px;
    margin: 60px 0;
    margin-top: 20px;
    position: relative;
}
.seat{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 0.5mm;
    outline: 0.3mm solid rgb(180, 180, 180);
    cursor: pointer;
}
.all-seats input:checked +label{
    background: #6D58BF;
    outline: none;
}
.seat.booked{
    background: rgb(180, 180, 180);
    outline: none;
}

input{
    display: none;
}
.timings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.dates{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.day{
    font-size: 12px;

}
.times{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}


.price{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.total span{
    font-size: 16px;
    
}
.price button{
    background: #6D58BF;
    color: white;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 2mm;
    outline: none;
    border: none;
    cursor: pointer;
}

.cinema-name{
    background: white;
    padding: 12px;
    border-radius: 2mm;
}

.selected-cinema {
    color: white;
    background-color: #6D58BF;
}

.cinema-time{
    background: white;
    padding: 12px;
    border-radius: 2mm;

}

.cinema-time:empty{
    display: none;
}

.selected-time{
    color: white;
    background-color: #6D58BF;
}

#choose-cinema{
    margin-left: 20px;
}
#choose-price{
    margin-left: 20px;
}

/*-------------------------------------------------------------*/
footer{
    background: #6D58BF;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: 'Pacifico', cursive;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 14px;
    font-size: 14px;

}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 3rem 0;
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover i{
    color: #FF5733;
}

.footer-bottom{
    background: #6D58BF;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Responsive*/

@media only screen and (min-width: 601px )and (max-width: 1194px) {
    .col-md-1 { grid-column: span 1;}
    .col-md-2 { grid-column: span 2;}
    .col-md-3 { grid-column: span 3;}
    .col-md-4 { grid-column: span 4;}
    .col-md-5 { grid-column: span 5;}
    .col-md-6 { grid-column: span 6;}
    .col-md-7 { grid-column: span 7;}
    .col-md-8 { grid-column: span 8;}
    .col-md-9 { grid-column: span 9;}
    .col-md-10 { grid-column: span 10;}
    .col-md-11 { grid-column: span 11;}
    .col-md-12 { grid-column: span 12;}


    .search_btn {
        padding: 10px 20px !important;
    }
    .slider-content{
        bottom: 25vw !important;
    }
    .poster-content{
        margin-left: 20px !important;
    }
    #release-date{
        margin-top: 0px !important;
        font-size: 20px !important;
    }
    #movie-title{
        font-size: 30px !important;
    }
    #category{
        font-size: 20px !important;
    }
    #ticket-price{
        line-height: 150% !important;
        font-size: 16px !important;
    }
    #movie-description{
        margin-right: 20px !important;
        font-size: 14px !important;
    }

}

@media only screen and (max-width: 600px ){
    .col-1 { grid-column: span 1;}
    .col-2 { grid-column: span 2;}
    .col-3 { grid-column: span 3;}
    .col-4 { grid-column: span 4;}
    .col-5 { grid-column: span 5;}
    .col-6 { grid-column: span 6;}
    .col-7 { grid-column: span 7;}
    .col-8 { grid-column: span 8;}
    .col-9 { grid-column: span 9;}
    .col-10 { grid-column: span 10;}
    .col-11 { grid-column: span 11;}
    .col-12 { grid-column: span 12;}

    .brand a{
        font-size: 12px !important;
    }
    .searchbox{
        justify-content: end !important;
    }
    .search_element{
        background-color: transparent !important;
        width: auto;
    }
    .search_element input{
        display: none !important;
    }
    .search_btn {
        padding: 10px !important;
        text-indent: -9999px !important;
        
    }
    .page-links{
        padding: 0px !important;
        padding-right: 0px !important;
    }
    .poster-container{
        margin-top: 0px !important;
    }
    #movie-img{
        height: 400px !important;
    }
    .poster-content{
        margin-left: 20px !important;
    }
    #release-date{
        margin-top: 0px !important;
        font-size: 20px !important;
    }
    #movie-title{
        font-size: 30px !important;
    }
    #category{
        font-size: 20px !important;
    }
    #ticket-price{
        line-height: 150% !important;
        font-size: 16px !important;
    }
    #movie-description{
        margin-right: 20px !important;
        font-size: 14px !important;
    }
    .cinema-name{
        padding: 6px !important;
    }
    .all-seats{
        grid-gap: 10px !important;

    }
    .seat{
        width: 12px !important;
        height: 12px !important;

    }
}