/* Add your CSS styling here */
/* #language-selector {
    text-align: center;
    margin: 20px;
    background-color: #6D58BF;
} */

html,
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.col-lg-1 { grid-column: span 1;}
.col-lg-2 { grid-column: span 2;}
.col-lg-3 { grid-column: span 3;}
.col-lg-4 { grid-column: span 4;}
.col-lg-5 { grid-column: span 5;}
.col-lg-6 { grid-column: span 6;}
.col-lg-7 { grid-column: span 7;}
.col-lg-8 { grid-column: span 8;}
.col-lg-9 { grid-column: span 9;}
.col-lg-10 { grid-column: span 10;}
.col-lg-11 { grid-column: span 11;}
.col-lg-12 { grid-column: span 12;}

/*navigation*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 1fr;
}

.brand {
    display: flex;
    align-items: center;
    grid-row: 1 / span 2;
    background-color: #6D58BF;





}
.brand a{
    color: #fff;
    text-decoration:none;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 15px;
    font-family: 'Pacifico', cursive;
}

.searchbox{
    grid-row: 1 / span2;
    background-color: #6D58BF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search_element{
    background-color: #fff;
    width: 80%;
    height:5vw;
    max-height: 45px;
    display: flex;
    border-radius: 8px;
}
.search_element input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 8px;
}
.search_btn{
    background: #FF5733;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.page-links {
    grid-row: 1/ span 2;
    text-align: right;
    background-color: #6D58BF;

    padding: 10px;
    padding-right: 6vw;
        display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;

}






.translateSelectLanguage {

    top: 100px;
    right: 100px;
    background-color: #FF5733;
    color:white;
    width: 70px;
    height:5vw;
    max-height: 45px;
    border-radius: 4px;
}

#content {
    text-align: left;
    margin: 5px;
    position: absolute;
    z-index: 5;
    color: white;
    left: 15rem;
    top: 5rem;
    max-width: 404px; /* Set maximum width */
    word-wrap: break-word; /* Allow long words to break into the next line */
}


/* Image Slider reference from Youtube tutorial https://www.youtube.com/watch?v=DpHi9Ruu8R4&ab_channel=CodingWithNick*/
.mySlides{
    overflow: hidden;
    max-height: 945px;
}
.mySlides img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    object-position: bottom;
    max-height: 100%;
    max-width: 100%;

}
.slideshow-container{
 
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    color: #FF5733;
}
.slider-content{
    position: absolute;
    text-align: start;
    padding: 8px 12px;
    width: 40vw;
    left: 6vw;
    bottom: 25vw;

    background-color: rgba(0,0,0,0.5);
}
.text-title{
    color: #fff;
    font-weight: 600;
    font-size: 4vw;

}
.text{
    line-height: 150%;
    color: #fff;
    font-size: 1vw;

}
.numbertext{
    color:#fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;

}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

/*-----------------------------------------------------------*/

/*card desgin--------------------------------------------------*/
.content-container{
    display: grid;
    grid-template-rows: auto auto;
}

.content-title{
    display: flex;
    justify-content: space-between;
    margin: 12px;
}


.title{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #6D58BF;
}
.content-links {
    grid-column: 3 / span 2;
    grid-row: 1/3;
    text-align: right;
    

    padding: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;

}
.content-links a{
    color: #FF5733;
    text-decoration: none;
    position: relative;
    font-weight: 600;

    font-size: 24px;
}

.content-links a:after{
    content: "";
    position: absolute;
    background-color: #FF5733;
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
    border-radius: 99px;
}
.content-links a:hover:after{
    width: 100%;
}
.content-links img{
    position: relative;
    top: 5px;
}
#release-date{
    color: #6D58BF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
}

#card-title{
    margin: 12px 0px 12px 12px;
}

#category{
    color: #6D58BF;
    padding-left: 12px;
    font-weight: 600;
}

.cinema-details{
    padding-left: 12px;
}

#card-container{
    display: flex;
    padding-left: 34px;
    flex-wrap: wrap;
    gap: 34px;
}
.card{
    background-color: white;
    width: 320px;
    /* height:520px; */
    background-size: contain;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.card img{
    background-color: aqua;
    height:300px;
    width: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-size: 100% 100%;
}
.card:hover {
    outline: 4px solid #6D58BF; /* Add border color, width, and style */
}

.card:focus {
    outline: 4px solid #6D58BF; /* Add border color, width, and style */
}
/*----------------------------------------------------------------------------------------------*/

/*Footer reference from Youtube https://www.youtube.com/watch?v=zdA3qZNH1vc&pp=ygUPZm9vdGVyIGh0bWwgY3Nz*/
footer{
    background: #6D58BF;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: 'Pacifico', cursive;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 14px;
    font-size: 14px;

}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 3rem 0;
    padding-left: 0px;
}

.social li{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover i{
    color: #FF5733;
}

.footer-bottom{
    background: #6D58BF;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Footer--------------------------------------------------*/

/*Responsive*/

@media only screen and (min-width: 601px )and (max-width: 1194px) {
    .col-md-1 { grid-column: span 1;}
    .col-md-2 { grid-column: span 2;}
    .col-md-3 { grid-column: span 3;}
    .col-md-4 { grid-column: span 4;}
    .col-md-5 { grid-column: span 5;}
    .col-md-6 { grid-column: span 6;}
    .col-md-7 { grid-column: span 7;}
    .col-md-8 { grid-column: span 8;}
    .col-md-9 { grid-column: span 9;}
    .col-md-10 { grid-column: span 10;}
    .col-md-11 { grid-column: span 11;}
    .col-md-12 { grid-column: span 12;}

    .search_btn {
        padding: 10px 20px !important;
    }
    .slider-content{
        bottom: 25vw !important;
    }
    .text{
        line-height: normal;
    }
    .title{
        font-size: 24px !important;
    }

}

@media screen and (max-width: 600px) {
    .col-1 { grid-column: span 1;}
    .col-2 { grid-column: span 2;}
    .col-3 { grid-column: span 3;}
    .col-4 { grid-column: span 4;}
    .col-5 { grid-column: span 5;}
    .col-6 { grid-column: span 6;}
    .col-7 { grid-column: span 7;}
    .col-8 { grid-column: span 8;}
    .col-9 { grid-column: span 9;}
    .col-10 { grid-column: span 10;}
    .col-11 { grid-column: span 11;}
    .col-12 { grid-column: span 12;}
    .brand a{
        font-size: 12px !important;
    }
    .searchbox{
        justify-content: end !important;
    }
    .search_element{
        background-color: transparent !important;
        width: auto;
    }
    .search_element input{
        display: none !important;
    }
    .search_btn {
        padding: 10px !important;
        text-indent: -9999px !important;
        
    }
    .page-links{
        padding: 0px !important;
        padding-right: 0px !important;
    }

    .prev, .next, .text{
        font-size: 11px !important;

    }
    .dot{
        height: 10px !important;
        width: 10px !important;
    }
    .slider-content{
        bottom: 25vw !important;
    }

    .text{

        display: none !important;
    }
    .title{
        font-size: 16px !important;
    }
    .content-links a{
        font-size: 16px !important;
    }
    .card{
        width: 250px !important;
    }
}







