html,
body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.col-lg-1 { grid-column: span 1;}
.col-lg-2 { grid-column: span 2;}
.col-lg-3 { grid-column: span 3;}
.col-lg-4 { grid-column: span 4;}
.col-lg-5 { grid-column: span 5;}
.col-lg-6 { grid-column: span 6;}
.col-lg-7 { grid-column: span 7;}
.col-lg-8 { grid-column: span 8;}
.col-lg-9 { grid-column: span 9;}
.col-lg-10 { grid-column: span 10;}
.col-lg-11 { grid-column: span 11;}
.col-lg-12 { grid-column: span 12;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 1fr;
}

.brand {
    /* grid-column: 1 / span 6; */
    grid-row: 1 / span 2;
    background-color: #6D58BF;
    /* new line – just copy and paste this line */
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.page-links {
    grid-column: 7 / span 6;
    grid-row: 1/ span 2;
    text-align: right;
    background-color: #6D58BF;
    /* new line – just copy and paste this line */
    padding: 10px;
    padding-right: 6vw;
}
.translateSelectLanguage {

    top: 100px;
    right: 100px;
    background-color: #FF5733;
    color:white;
    width: 70px;
    height:30px;
    margin-top: 15px;
    border-radius: 4px;
}
.content-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column
}
#movie-rate{
    color: #FF5733;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    border: 3px solid #FF5733;
    text-align: right;
    margin-left: 12em;
}

#card-title{
    margin: 12px 0px 12px 12px;
}

#category{
    color: #6D58BF;
    padding-left: 12px;
    font-weight: 600;
}

.cinema-details{
    padding-left: 12px;
}

#card-container{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 360px));
    grid-gap: 2rem;
    /* align-items: start; */
    margin-left: 4rem;
    margin-right: 3rem;

}
#title{
    color: #6D58BF;
    padding-left: 20px;
    font-size: 36px;
}
.card{
    background-color: white;

    background-size: contain;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.hide{
    display: none;
}
.card img{
    background-color: aqua;
    height:300px;
    width: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-size: 100% 100%;
    border-radius: 12px 12px 0 0;
}
.card:hover {
    outline: 4px solid #6D58BF; /* Add border color, width, and style */
}

.card:focus {
    outline: 4px solid #6D58BF; /* Add border color, width, and style */
}
.button-value{
    border: 2px solid #6D58BF;
    color: #6D58BF;
    padding: 0.5em 1.2em;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}
.active{
    background-color: #6D58BF;
    color: white;
}